.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    background: #000;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
