@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Glory:wght@400;600;800&family=Mochiy+Pop+P+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*  
    font-family: 'Dongle', sans-serif;
    font-family: 'Glory', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Kurale', serif;
*/

body {
    font-family: 'Glory', 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(119, 171, 183, 0.5);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
    color: inherit;
}
